/* IMPORT Y2K TECHNO FONT */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body{
margin:0;
background:#020402;
color:#8CFF8C;
font-family:'Orbitron', monospace;
overflow-x:hidden;
}

/* CYBER GRID BACKGROUND */

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:
linear-gradient(#00ff88 1px, transparent 1px),
linear-gradient(90deg,#00ff88 1px, transparent 1px);

background-size:40px 40px;
opacity:0.18;

z-index:-2;
}

/* SCANNING LINES */

.scanlines{
position:fixed;
width:100%;
height:100%;

background:repeating-linear-gradient(
transparent 0px,
transparent 2px,
rgba(0,0,0,0.35) 3px
);

pointer-events:none;
z-index:5;
}

/* MAIN CONTAINER */

.container{
width:1000px;
margin:auto;
padding:40px;
}

/* TITLE */

.logo{
text-align:center;
font-size:40px;
letter-spacing:6px;

color:#aaffaa;

text-shadow:
0 0 10px #00ff88,
0 0 20px #00ff88,
0 0 40px #00ff88;
}

/* OC GRID */

.ocgrid{
display:flex;
justify-content:center;
gap:40px;
margin-top:50px;
}

/* CHARACTER CARDS */

.occard{

background:rgba(0,0,0,0.8);

border:2px solid #00ff88;

width:220px;

padding:15px;

text-align:center;

text-decoration:none;

color:#8CFF8C;

box-shadow:
0 0 10px #00ff88,
inset 0 0 10px #00ff88;

transition:all .25s;
}

/* IMAGE */

.occard img{

width:100%;

border:2px solid #00ff88;

margin-bottom:10px;

}

/* HOVER EFFECT */

.occard:hover{

transform:scale(1.07);

box-shadow:
0 0 20px #00ff88,
0 0 40px #00ff88,
inset 0 0 20px #00ff88;

background:#001a00;

}

/* TEXT */

.occard p{

font-size:18px;
letter-spacing:2px;

}
